@import "../variables.scss";
.about-page {
  margin: var(--page-margin);

  text-align: left;
  @include respond(phone) {
    margin: 0 10px;
  }

  @include respond(tab-land) {
    margin: 0 20px;
  }
  @include respond(tab-port) {
    margin: 0 10px;
  }
}
iframe {
  width: 100%;
  height: 75vh;
  @include respond(tab-land) {
  }

  @include respond(tab-port) {
  }

  @include respond(phone) {
  }
  @include respond(big-desktop) {
  }
}

.thicker {
  font-weight: 700;
}
