@import "../variables.scss";
.loginPage {
  margin: var(--page-margin);

  color: black;
  @include respond(phone) {
    margin: 0 10px;
  }

  @include respond(tab-land) {
    margin: 0 20px;
  }
  @include respond(tab-port) {
    margin: 0 10px;
  }
}

.loginPage-box {
  border: 1px lightgray solid;
  border-radius: 3px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  display: inline-block;
  color: #142239;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  border-radius: 3px;
  text-indent: 8px;
  border: 1px lightgray solid;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
h2 {
  color: #002868;
  text-transform: uppercase;
}

.button-text-box-1 {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: darkblue;
  color: white;
  border-radius: 3px;
  padding: 5px 8px;
  transition: 0.3s;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 30px !important;
}

.button-text-box-1:hover {
  cursor: pointer;
  opacity: 0.8;
}
.forgotPasswordText {
  margin: 10px 0 30px 0;
}
.privacyPolicyText {
  font-size: 14px;
}

.inputsWidth > * {
  margin: 10px 0;
}

.forgotPasswordInstructions {
  font-size: 18px;
  margin: 30px 0;
}
.login-box {
  transition: 1s ease-in-out;
}
.login-boxToggle {
  display: flex;
  margin-bottom: 20px;
}

.loginHeader {
  background-color: lightgrey;
}
.registrationHeader {
  background-color: lightgrey;
}

.loginPageHeader {
  padding: 10px;
  width: 50%;
}

.loginPageHeader:hover {
  cursor: pointer;
}
.forgotPassword {
  padding: 30px 50px;
}

.inputBox {
  display: flex;
  line-height: 35px;
}

input[type="checkbox"] {
  margin: 10px 10px;
}
.reCaptcha {
  line-height: 60px;
}

.activeLogin {
  background-color: inherit;
}

.activeRegistration {
  background-color: inherit;
}
