@import "../variables.scss";
.privacyPolicy {
  margin: var(--page-margin);
  line-height: 26px;

  text-align: left;
  @include respond(phone) {
    margin: 0 10px;
  }

  @include respond(tab-land) {
    margin: 0 20px;
  }
  @include respond(tab-port) {
    margin: 0 10px;
  }
}

.thicker {
  font-weight: 700;
}
