@import "../variables.scss";
.representativeContainer {
  margin: var(--page-margin);
  line-height: 26px;
  display: flex;
  @include respond(phone) {
    margin: 0 10px;
  }

  @include respond(tab-land) {
    margin: 0 20px;
  }
  @include respond(tab-port) {
    margin: 0 10px;
  }
}
.representativeContainer-left {
  width: 30%;
}

.representativeContainer-right {
}
.currentRepPicture {
  width: 180px;
  height: auto;
  border: 1px solid black;
}
