@import "../variables.scss";
.representativesPage {
  margin: var(--page-margin);
  line-height: 26px;
  @include respond(phone) {
    margin: 0 10px;
  }

  @include respond(tab-land) {
    margin: 0 20px;
  }
  @include respond(tab-port) {
    margin: 0 10px;
  }
}
.searchBox {
  padding: 30px 50px;
  border: 1px lightgray solid;
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
}
.searchBox > * {
  margin-right: 5px;
}
.searchButton {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: darkblue;
  border-radius: 3px;
  padding: 5px 8px;
  transition: 0.3s;

  display: flex;
  align-items: center;
}

.fa-search {
  padding-right: 3px;
}

.searchButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.listing {
  min-height: 60px;
  margin-top: 20px;
}

.votingBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  // It makes the text stop blurring when transforming
  will-change: contents;
  margin-right: 60px;
  margin-top: 20px;
}
.votingBox,
.votingBoxText {
  transition: 0.3s;
}

.votingBox:hover {
  color: green;
  cursor: pointer;
}

.votingBox:hover .votingBoxText {
  transform: scale(1.2);
}

.fa-vote-yea {
  font-size: 45px;
}

.votingBoxText {
  padding-top: 10px;
}
