@import "../variables.scss";
.highlights {
  @include respond(tab-land) {
    margin: 0 20px;
  }
  @include respond(tab-port) {
    margin: 0 10px;
  }
  @include respond(phone) {
    margin: 0 5px;
  }
}

.highlights-container {
  background-color: white;
  margin: 30px 150px;
  color: #142239;
}
.highlights-slogans {
  padding: 20px;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.slogan {
  padding: 10px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600px;
}

.highlights-text {
  margin: 15px;
  font-weight: 0;
  line-height: 25px;
  letter-spacing: 2px;
}
.soonest-meeting-text {
  color: white !important;
  width: 40%;

  text-align: right;
  padding-right: 20px;

  align-self: center;
}

.highlights-meetings-container {
  padding: 20px 0;
  width: 100%;
  margin: 0 !important;
  color: white;
  background: linear-gradient(
    215deg,
    rgba(35, 35, 134, 1),
    rgba(36, 38, 165, 0.3)
  );
  display: flex;
}
.soonest-meetings {
  display: flex;
  border-left: 5px dotted white;
  flex-direction: column;
  line-height: 25px;
}

.meeting-box {
  display: flex;
  flex-direction: column;

  text-align: left;
  padding: 20px;
  margin-left: 10px;
}

.meeting-city {
  font-style: bold;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  padding-right: 10px;
}

.meeting-addressFull {
  display: inline-block;
}

.timer {
  font-size: 40px;
  font-weight: 400;
  color: darkred;
  letter-spacing: 3px;
  margin: 22px 0;
}
.separateLine {
  display: block;
}
